<template>
  <div id="app">
    <router-view></router-view>
  </div>
</template>

<script>
export default {
  name: 'app'
}
</script>

<style>
  html, body, #app {
    font-family:  "Open Sans";
  }

  html,body {
    background: #EFF3F4 !important;
    font-family: 'Open Sans', serif;
  }
</style>
