<template>
  <div class="Welcome">
    <navigation-main></navigation-main>
    <div class="container">
      <div id="flow">
        <span class="flow-1"></span>
        <span class="flow-2"></span>
        <span class="flow-3"></span>
      </div>
      <div class="section">
        <div class="row columns">
          <div class="column">
            <table class="table is-striped is-fullwidth">
              <thead>
                <tr>
                  <th style="text-align: center;" colspan="2">
                    <span style="font-size: 3em; font-weight: 800;">
                      <img :src="icon"/>
                      {{cityTemp}}°C
                    </span><br/>
                    clima em <b>{{city}}, {{country}}</b>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Nebulosidade</td>
                  <td>{{cloudiness}}</td>
                </tr>
                  <tr>
                    <td>Pressão</td>
                    <td>{{pressure}} hpa</td>
                  </tr>
                  <tr>
                    <td>Humidade</td>
                    <td>{{humidity}} %</td>
                  </tr>
                  <tr>
                    <td>Coordenadas</td>
                    <td>
                      <a @click="openMap">
                        [lat {{coordinatesLat}}, lon {{coordinatesLon}}]
                      </a>
                    </td>
                  </tr>
                </tbody>
            </table>
            <center>
              <router-link
                class="button is-primary"
                :to="{ name: 'welcome' }">
                voltar
              </router-link>
            </center>
          </div>
        </div>
        <!-- End Developers -->
      </div>
    </div>
  </div>
</template>

<script>
import NavigationMain from '@/components/global/NavigationMain'

var weather = null
var showCity = false
var city = ''
var country = ''
var cityTemp = ''
var icon = ''
var cloudiness = ''
var pressure = ''
var humidity = ''
var coordinatesLon
var coordinatesLat
var cityParam
var uuid
var canSave = true

export default {
  name: 'WelcomePage',
  data: () => {
    return {
      weather,
      showCity,
      city,
      country,
      cityTemp,
      icon,
      cloudiness,
      pressure,
      humidity,
      coordinatesLon,
      coordinatesLat,
      cityParam,
      uuid,
      canSave
    }
  },
  components: {
    NavigationMain
  },
  mounted: function () {
    this.fetchData()
  },
  methods: {
    returnClient: function () {
      if (!this.$cookies.isKey('client_uuid')) {
        var url = process.env.API_URL + '/client/new'

        this.$http.get(url).then(response => {
          this.uuid = JSON.parse(JSON.stringify(response.body))
          this.uuid = this.uuid.uuid

          this.$cookies.set('client_uuid', this.uuid, 60 * 60 * 24 * 30)
        })
      } else {
        this.uuid = this.$cookies.get('client_uuid')
      }
    },
    fetchData: function () {
      this.cityParam = this.$route.params.id
      var url = 'https://api.openweathermap.org/data/2.5/weather?id=' + this.cityParam + '&units=metric&lang=pt&APPID=' + process.env.OPENWEATHER_KEYID

      this.$http.get(url).then(response => {
        this.weather = JSON.parse(JSON.stringify(response.body))

        this.icon = 'http://openweathermap.org/img/w/' + this.weather.weather[0].icon + '.png'
        this.cloudiness = this.weather.weather[0].description
        this.city = this.weather.name
        this.cityTemp = this.weather.main.temp
        this.pressure = this.weather.main.pressure
        this.humidity = this.weather.main.humidity
        this.country = this.weather.sys.country
        this.coordinatesLon = this.weather.coord.lon
        this.coordinatesLat = this.weather.coord.lat

        this.showInfo()
      })
    },
    showInfo: function () {
      this.showCity = true
    },
    openMap: function () {
      var url = 'https://www.google.com/maps/@' + this.coordinatesLat + ',' + this.coordinatesLat + 'z'
      window.open(url)
    },
    saveCity: function () {
      var payload = {
        uuid: this.uuid,
        cityId: this.weather.id,
        name: this.city,
        country: this.country
      }
      this.$http.post(process.env.API_URL + '/favorite', payload)
    }
  }
}
</script>

<style lang="scss" scoped>
</style>
