<template>
  <div class="favorites">
    <navigation-main></navigation-main>

    <div class="container">
        <div id="flow">
            <span class="flow-1"></span>
            <span class="flow-2"></span>
            <span class="flow-3"></span>
        </div>
        <div class="section">
            <div class="row columns">
                <div class="column" v-if="favorites.length > 0">
                  <div
                    v-for="favorite in favorites" v-bind:key="favorite.id"
                    class="notification" style="background: #ffffff;">
                    {{favorite.name}},{{favorite.country}}
                    <router-link
                      :to="{ name: 'city_details', params: { id: favorite.city_id} }"
                      class="button is-dark is-small">consultar previsão</router-link>
                    <a class="button is-danger is-small is-pulled-right" @click="removeFav(favorite.id)"><b>Remover</b></a>
                  </div>
                </div>
                <div class="column" v-else>
                  <div class="notification has-text-centered" style="background: #ffffff;">
                    Não existe nenhum favorito
                  </div>
                </div>
            </div>
        </div>
    </div>

    <center>
      <router-link
        class="button is-primary"
        :to="{ name: 'welcome' }">
        voltar
      </router-link>
    </center>
  </div>
</template>

<script>
import NavigationMain from '@/components/global/NavigationMain'

var favorites = []
var uuid

export default {
  name: 'FavoritesPage',
  data: () => {
    return {
      favorites,
      uuid
    }
  },
  components: {
    NavigationMain
  },
  mounted: function () {
    this.returnClient()
    this.fetchData()
  },
  methods: {
    returnClient: function () {
      if (!this.$cookies.isKey('client_uuid')) {
        var url = process.env.API_URL + '/client/new'

        this.$http.get(url).then(response => {
          this.uuid = JSON.parse(JSON.stringify(response.body))
          this.uuid = this.uuid.uuid

          this.$cookies.set('client_uuid', this.uuid, 60 * 60 * 24 * 30)
        })
      } else {
        this.uuid = this.$cookies.get('client_uuid')
      }
    },
    fetchData: function () {
      var url = process.env.API_URL + '/favorites/' + this.uuid + '/all'

      this.$http.get(url).then(response => {
        this.favorites = JSON.parse(JSON.stringify(response.body))
        this.favorites = this.favorites['cities']
      })
    },
    removeFav: function (id) {
      var url = process.env.API_URL + '/favorite/' + id
      this.$http.delete(url).then(response => {
        this.fetchData()
      })
    }
  }
}
</script>

<style lang="scss" scoped>
</style>
