<template>
  <nav class="navbar is-dark">
    <div class="container">
      <div class="navbar-brand">
        <router-link
            class="navbar-item"
            :to="{ name: 'welcome' }">
          SITEWARE Clima
        </router-link>

        <span class="navbar-burger burger" data-target="navbarMenu">
          <span></span>
          <span></span>
          <span></span>
        </span>
      </div>

      <div id="navbarMenu" class="navbar-menu">
        <div class="navbar-end">
          <router-link
            class="navbar-item"
            :to="{ name: 'client_favorites' }">
            Favoritos
          </router-link>
        </div>
      </div>
    </div>
  </nav>
</template>

<script>
export default {
  name: 'NavigationMain',
  data: () => {
    return {
    }
  }
}
</script>

<style scoped>
</style>
